# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = auto
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[**.xsd]
indent_style = space
indent_size = 2

[*.{cs,vb}]
# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false
# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = none
